<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Account</title>
  </head>
  <body>
    <h1>Welcome, <span th:text="${#httpServletRequest.remoteUser}"></span>!</h1>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Log out" />
    </form>
    <!-- Condition to check if user hasRole admin -->
    <div th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
      <br />
      <a th:href="@{/admin/}">Go to admin dashboard</a>
    </div>
    <!-- Link to change password form -->
    <a th:href="@{/change-password}">Change password</a>
    <a th:href="@{/typing-test}">Typing test</a>
    <!-- Display all the user's typing tests -->
    <h2>History of tests</h2>
    <table>
      <thead>
        <tr>
          <!-- <th>Test ID</th> -->
          <th>Time in Seconds</th>
          <th>Clean Typing Speed</th>
          <th>Raw Typing Speed</th>
          <th>Accuracy</th>
          <th>All Words</th>
          <th>Incorrect Words</th>
          <th>All Letters</th>
          <th>Incorrect Letters</th>
          <!-- Uncomment the following line to display the Test Date column -->
          <!-- <th>Test Date</th> -->
        </tr>
      </thead>
      <tbody>
        <tr th:each="test : ${typingTests}">
          <!-- <td th:text="${test.id}"></td> -->
          <td th:text="${test.timeInSeconds}"></td>
          <td th:text="${test.cleanTypingSpeed}"></td>
          <td th:text="${test.rawTypingSpeed}"></td>
          <td th:text="${test.accuracy}"></td>
          <td th:text="${test.allWords}"></td>
          <td th:text="${test.incorrectWords}"></td>
          <td th:text="${test.allLetters}"></td>
          <td th:text="${test.incorrectLetters}"></td>
          <!-- Uncomment the following lines to display the Test Date column -->
          <!-- <td th:text="${#dates.format(test.createdAt, 'dd-MM-yyyy HH:mm')}"></td> -->
        </tr>
      </tbody>
    </table>
  </body>
</html>
