<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form
      th:action="@{/register}"
      th:object="${user}"
      method="post"
      class="word-display"
    >
      <p>Username: <input type="text" th:field="*{username}" /></p>
      <p>Password: <input type="password" th:field="*{password}" /></p>
      <p>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
      </p>
    </form>
    <h3>You already have an account?</h3>
    <a href="/login">Sign In</a>

    <!-- Error message if username already exists -->
    <div th:if="${registerErrorMessage}" class="error-message">
      <p th:text="${registerErrorMessage}"></p>
    </div>
  </body>
</html>
