.word-display {
  flex: 8;
  border-radius: 15px;
  background-color: rgb(15, 15, 15);
  color: #fff;
  padding: 5px 17px 17px 17px;
}

.word-display p {
  margin-top: 10px;
  margin-bottom: 35px;
  font-size: 27px;
}

.word-display .question-paragraph {
  margin-bottom: 8px;
}

.last-paragraph {
  margin-bottom: 10px;
}

.developer-info a {
  color: white;
}

@media (min-width: 2200px) {
  .word-display p {
    font-size: 41px;
  }
}

@media (max-width: 1800px) {
  .word-display p {
    font-size: 27px !important ;
  }
}

@media (max-width: 1600px) {
  .word-display p {
    font-size: 22px !important ;
  }
}

@media (max-width: 1500px) {
  .word-display p {
    font-size: 20px !important ;
  }
}

@media (max-width: 1400px) {
  .word-display p {
    font-size: 18px !important ;
  }
}
