.test-history {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.5em;
  margin: 1rem auto;
}

.test-history thead th {
  padding: 10px;
  text-align: center; /* aligns header text to the center */
  border: 1px solid #ccc;
  color: white;
}

.test-history tbody tr {
  border: 1px solid #ccc;
}

.test-history tbody tr td {
  text-align: center; /* aligns body text to the center */
}

.test-history tbody tr:nth-child(even) {
  /* background-color: #f2f2f2; */
}

.test-history tbody tr:hover {
  background-color: #8989893f;
  cursor: pointer;
}

.test-history td,
.test-history th {
  padding: 10px;
}

.logout-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  color: whitesmoke;
  font-size: 30px;
}
