.main-section-container {
  overflow: auto;
}

.main-down-container {
  width: 100%;
  height: 100%;
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.word-display {
  color: white;
  background-color: rgb(11, 11, 11);
  flex: 8;
  border-radius: 15px;
  font-size: 33px;
  padding: 5px 17px 5px 17px;
  word-spacing: 0.3em;
  font-weight: 400;
}

.word-display > * {
  line-height: 1.45;
}

.word-input-container {
  margin-top: 10px;
  flex: 1.5;
  border-radius: 15px;
  display: flex;
}

.word-input {
  flex: 30;
  width: 100%;
  height: 100%;
}

#word-input {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  font-size: 33px;
  background-color: rgb(15, 15, 15);
  color: white;
  border-color: transparent;
}

.redo-button-container {
  flex: 4;
  width: 100%;
  height: 100%;
  background-color: rgb(15, 15, 15);
  border-radius: 15px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timer {
  color: white;
  font-size: 46px;
}

#redo-button {
  display: none;
  border: rgb(15, 15, 15);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  font-size: 30px;
  background-color: rgb(15, 15, 15);
  color: white;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

#redo-button:hover {
  background-color: white;
  color: rgb(15, 15, 15);
}

/* Interactive text */
.settings-training-container p {
  margin: 0;
}

.interactive-option {
  cursor: pointer;
}

.interactive-option .option-state {
  /* color: rgb(26, 172, 0); */
  text-decoration: underline;
}

.interactive-option .option-state.off {
  /* color: red; */
}

.settings-training-container p {
  margin: 0;
}

.interactive-option {
  cursor: pointer;
}

.interactive-option .option-state {
  /* color: blue; */
  text-decoration: underline;
}

.interactive-option .option-state.off {
  /* color: red; */
}

.word-length-container {
  display: flex;
  align-items: center;
  /* !! switch feature is hidden here */
  display: none;
}

#dataset-select {
  width: 40%;
}

#redo-button:active {
  background-color: gray;
  color: white;
}

.bottom-left-container {
  flex: 1;
  background-color: rgb(15, 15, 15);
  color: white;
  /* font-size: 24px; */
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin-right: 14px;
  padding: 5px 5px 5px 5px;
}

.bottom-left-container p {
  margin-top: 1px;
  margin-bottom: 1px;
  /* font-size: 28px; */
}

/* TODO: I would like to center all paragraphs inside this div (by center I mean equal margin top and bottom which changes automatically */
.results-information-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(15, 15, 15);
  color: white;
  font-size: 16px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 7px 10px 7px 18px;
  font-size: 26px;
}

.results-information-container p {
  margin-top: 1px;
  margin-bottom: 1px;
}

.results-information-container table {
  width: 100%;
}

.results-information-container table .text-column {
  text-align: right;
}

.results-information-container table .number-column {
  text-align: left;
}

.bottom-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 10px 10px;
}

.container-words-visible-slider {
  display: flex;
  align-items: center;
}

.settings-training-container {
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.settings-training-container p {
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 28px;
}

.option-state {
  font-size: 25px;
}

#words-visible-value {
  margin-left: 2%;
}

/* .incorrect-current-word {
  color: rgb(255, 109, 109);
} */

.current-word {
  color: rgb(255, 236, 127);
  /* color: rgb(74, 183, 255); */
}

.correct-word {
  color: rgb(0, 79, 0);
}

.incorrect-word {
  color: rgb(84, 0, 0);
}

.correct-letter {
  color: rgb(123, 255, 123);
}

.incorrect-letter {
  color: rgb(255, 68, 68);
}

.raw-speed {
  font-size: 43px;
}

.no-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

@media (min-width: 2200px) {
  .word-display {
    font-size: 46px;
  }
  .results-information-container {
    font-size: 36px;
  }
  .bottom-left-container .settings-training-container * {
    font-size: 36px;
  }

  #word-input {
    font-size: 40px;
  }
}

@media (max-width: 1800px) {
  /*  */
}

@media (max-width: 1600px) {
  .settings-training-container p,
  .results-table {
    font-size: 24px !important;
  }
}

@media (max-width: 1500px) {
  .settings-training-container p,
  .results-table {
    font-size: 21px !important;
  }
  .word-display {
    font-size: 30px;
  }
  .page-title-container p {
    font-size: 28px;
  }
  /* .main-section-container .main-top-container {
    display: none;
  } */
}

@media (max-width: 1400px) {
  /*  */
}

@media (max-width: 450px) {
  .word-display * {
    font-size: 22px !important;
  }
  .word-display > * {
    line-height: 1.1;
  }
}
