<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Account</title>
  </head>
  <body>
    <h1>Welcome, <span th:text="${#httpServletRequest.remoteUser}"></span>!</h1>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Log out" />
    </form>
    <!-- Condition to check if user hasRole admin -->
    <div th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
      <br />
      <a th:href="@{/admin/}">Go to admin dashboard</a>
    </div>
    <!-- Link to change password form -->
    <a th:href="@{/change-password}">Change password</a>
    <a th:href="@{/typing-test}">Typing test</a>
  </body>
</html>
