/* Dark-blue theme */
.dark-blue-theme {
  --background-color-body: #000;
  --background-color-container: #000033;
  --background-color-main: #000066;
  --background-color-section: #0000cc;
  --text-color-main: #ffffff;
}

.dark-blue-theme body {
  background-color: var(--background-color-body);
  background: var(--background-color-body);
}

.dark-blue-theme .main-section {
  background: var(--background-color-main);
}

.dark-blue-theme .menu-item {
  background: var(--background-color-main);
}

.dark-blue-theme .page-title-container {
  background-color: var(--background-color-container);
}

.dark-blue-theme .menu-item:hover {
  background-color: var(--background-color-container);
}

.dark-red-theme #redo-button {
  background-color: var(--background-color-container);
}

.dark-blue-theme .word-display {
  background-color: var(--background-color-container);
}

.dark-blue-theme .bottom-right-container {
  background-color: var(--background-color-container);
}

.dark-blue-theme .bottom-left-container {
  background-color: var(--background-color-container);
}

.dark-blue-theme #word-input {
  background-color: var(--background-color-container);
}

.dark-blue-theme .redo-button-container {
  background-color: var(--background-color-container);
}

.dark-blue-theme #redo-button {
  background-color: var(--background-color-container);
}

.dark-blue-theme .select-settings {
  background-color: var(--background-color-container);
}

.dark-blue-theme .login-form-button {
  background-color: var(--background-color-main);
}

.dark-blue-theme .login-form-input {
  background-color: var(--background-color-main);
}

.dark-blue-theme #logo,
.dark-blue-theme .login-register-container p a,
.dark-blue-theme .menu-item a,
.dark-blue-theme .word-display,
.dark-blue-theme .page-title-container p {
  color: var(--text-color-main);
}

/* Dark-red theme */
.dark-red-theme {
  --background-body-color: #000;
  --background-color-container: #330000;
  --background-color-main: #160000;
  --background-color-section: #cc0000;
  --text-color-main: #ffffff;
}

.dark-red-theme body {
  background-color: var(--background-body-color);
  background: var(--background-body-color);
}

.dark-red-theme .main-section {
  background: var(--background-color-main);
}

.dark-red-theme .menu-item {
  background: var(--background-color-main);
}

.dark-red-theme #redo-button {
  background-color: var(--background-color-container);
}

.dark-red-theme .page-title-container {
  background-color: var(--background-color-container);
}

.dark-red-theme .menu-item:hover {
  background-color: var(--background-color-container);
}

.dark-red-theme .word-display {
  background-color: var(--background-color-container);
}

.dark-red-theme .bottom-right-container {
  background-color: var(--background-color-container);
}

.dark-red-theme .bottom-left-container {
  background-color: var(--background-color-container);
}

.dark-red-theme #word-input {
  background-color: var(--background-color-container);
}

.dark-red-theme .redo-button-container {
  background-color: var(--background-color-container);
}

.dark-red-theme .select-settings {
  background-color: var(--background-color-container);
}

.dark-red-theme .login-form-button {
  background-color: var(--background-color-main);
}

.dark-red-theme .login-form-input {
  background-color: var(--background-color-main);
}

.dark-red-theme #logo,
.dark-red-theme .login-register-container p a,
.dark-red-theme .menu-item a,
.dark-red-theme .word-display,
.dark-red-theme .page-title-container p {
  color: var(--text-color-main);
}

/* Light-blue theme */
.light-blue-theme {
  --background-color-body: #e6f7ff;
  --background-color-container: #cceeff;
  --background-color-main: #99ddff;
  --background-color-section: #66ccff;
  --text-color-main: #000000;
}

.light-blue-theme body {
  background-color: var(--background-color-body);
  background: var(--background-color-body);
}

.light-blue-theme .menu-item {
  border: var(--background-color-body) 1.5px solid;
}

.light-blue-theme .main-section {
  background: var(--background-color-main);
}

.light-blue-theme .menu-item {
  background: var(--background-color-main);
}

/* .light-blue-theme .description-container {
  background: var(--background-color-main);
} */

.light-blue-theme .page-title-container {
  background-color: var(--background-color-container);
}

.light-blue-theme .menu-item:hover {
  background-color: var(--background-color-container);
}

.light-blue-theme .word-display {
  background-color: var(--background-color-container);
}

.light-blue-theme .bottom-right-container {
  background-color: var(--background-color-container);
}

.light-blue-theme .bottom-left-container {
  background-color: var(--background-color-container);
}

.light-blue-theme #word-input {
  background-color: var(--background-color-container);
}

.light-blue-theme .redo-button-container {
  background-color: var(--background-color-container);
}

.light-blue-theme #redo-button {
  background-color: var(--background-color-container);
}

.light-blue-theme .select-settings {
  background-color: var(--background-color-container);
}

.light-blue-theme .login-form-button {
  background-color: var(--background-color-main);
}

.light-blue-theme .login-form-input {
  background-color: var(--background-color-main);
}

.light-blue-theme .current-word {
  color: rgb(155, 140, 0);
}

.light-blue-theme .correct-word {
  color: rgb(0, 57, 0);
}

.light-blue-theme .incorrect-word {
  color: rgb(84, 0, 0);
}

.light-blue-theme .correct-letter {
  color: rgb(27, 255, 27);
}

.light-blue-theme .incorrect-letter {
  color: rgb(255, 68, 68);
}

.light-blue-theme .leaderboard-table th,
.light-blue-theme .logout-button,
.light-blue-theme .login-form-button,
.light-blue-theme #word-input,
.light-blue-theme .developer-info a,
.light-blue-theme .select-settings,
.light-blue-theme .main-down-container .bottom-left-container,
.light-blue-theme .main-down-container .bottom-right-container,
.light-blue-theme #logo,
.light-blue-theme #timer,
.light-blue-theme .login-register-container p,
.light-blue-theme .login-register-container p a,
.light-blue-theme .menu-item a,
.light-blue-theme .word-display,
.light-blue-theme .page-title-container p {
  color: var(--text-color-main);
}

/* Light-pink theme */
.light-pink-theme {
  --background-color-body: #ffe6ea;
  --background-color-container: #ffb3ba;
  --background-color-main: #ff8085;
  --background-color-section: #ff4d52;
  --text-color-main: #000000;
}

.light-pink-theme body {
  background-color: var(--background-color-body);
  background: var(--background-color-body);
}

.light-pink-theme .menu-item {
  border: var(--background-color-body) 1.5px solid;
}

.light-pink-theme .main-section {
  background: var(--background-color-main);
}

.light-pink-theme .menu-item {
  background: var(--background-color-main);
}

/* .light-pink-theme .description-container {
  background: var(--background-color-main);
} */

.light-pink-theme .page-title-container {
  background-color: var(--background-color-container);
}

.light-pink-theme .menu-item:hover {
  background-color: var(--background-color-container);
}

.light-pink-theme .word-display {
  background-color: var(--background-color-container);
}

.light-pink-theme .bottom-right-container {
  background-color: var(--background-color-container);
}

.light-pink-theme .bottom-left-container {
  background-color: var(--background-color-container);
}

.light-pink-theme #word-input {
  background-color: var(--background-color-container);
}

.light-pink-theme .redo-button-container {
  background-color: var(--background-color-container);
}

.light-pink-theme #redo-button {
  background-color: var(--background-color-container);
}

.light-pink-theme .select-settings {
  background-color: var(--background-color-container);
}

.light-pink-theme .login-form-button {
  background-color: var(--background-color-main);
}

.light-pink-theme .login-form-input {
  background-color: var(--background-color-main);
}

.light-pink-theme .current-word {
  color: rgb(0, 186, 186);
}

.light-pink-theme .correct-word {
  color: rgb(0, 57, 57);
}

.light-pink-theme .incorrect-word {
  color: rgb(84, 0, 0);
}

.light-pink-theme .correct-letter {
  color: rgb(18, 70, 0);
}

.light-pink-theme .incorrect-letter {
  color: rgb(255, 68, 68);
}

.light-pink-theme .leaderboard-table th,
.light-pink-theme .logout-button,
.light-pink-theme .login-form-button,
.light-pink-theme #word-input,
.light-pink-theme .developer-info a,
.light-pink-theme .select-settings,
.light-pink-theme .main-down-container .bottom-left-container,
.light-pink-theme .main-down-container .bottom-right-container,
.light-pink-theme #logo,
.light-pink-theme #timer,
.light-pink-theme .login-register-container p,
.light-pink-theme .login-register-container p a,
.light-pink-theme .menu-item a,
.light-pink-theme .word-display,
.light-pink-theme .page-title-container p {
  color: var(--text-color-main);
}

/* Light-violet theme */
.light-violet-theme {
  --background-color-body: #f3e8ff;
  --background-color-container: #e6b3ff;
  --background-color-main: #d17aff;
  --background-color-section: #be42f5;
  --text-color-main: #000000;
}

.light-violet-theme body {
  background-color: var(--background-color-body);
  background: var(--background-color-body);
}

.light-violet-theme .menu-item {
  border: var(--background-color-body) 1.5px solid;
}

.light-violet-theme .main-section {
  background: var(--background-color-main);
}

.light-violet-theme .menu-item {
  background: var(--background-color-main);
}

/* .light-violet-theme .description-container {
  background: var(--background-color-main);
} */

.light-violet-theme .page-title-container {
  background-color: var(--background-color-container);
}

.light-violet-theme .menu-item:hover {
  background-color: var(--background-color-container);
}

.light-violet-theme .word-display {
  background-color: var(--background-color-container);
}

.light-violet-theme .bottom-right-container {
  background-color: var(--background-color-container);
}

.light-violet-theme .bottom-left-container {
  background-color: var(--background-color-container);
}

.light-violet-theme #word-input {
  background-color: var(--background-color-container);
}

.light-violet-theme .redo-button-container {
  background-color: var(--background-color-container);
}

.light-violet-theme #redo-button {
  background-color: var(--background-color-container);
}

.light-violet-theme .select-settings {
  background-color: var(--background-color-container);
}

.light-violet-theme .login-form-button {
  background-color: var(--background-color-main);
}

.light-violet-theme .login-form-input {
  background-color: var(--background-color-main);
}

.light-violet-theme .current-word {
  color: rgb(0, 186, 186);
}

.light-violet-theme .correct-word {
  color: rgb(0, 57, 57);
}

.light-violet-theme .incorrect-word {
  color: rgb(84, 0, 0);
}

.light-violet-theme .correct-letter {
  color: rgb(18, 70, 0);
}

.light-violet-theme .incorrect-letter {
  color: rgb(255, 68, 68);
}

.light-violet-theme .leaderboard-table th,
.light-violet-theme .logout-button,
.light-violet-theme .login-form-button,
.light-violet-theme #word-input,
.light-violet-theme .developer-info a,
.light-violet-theme .select-settings,
.light-violet-theme .main-down-container .bottom-left-container,
.light-violet-theme .main-down-container .bottom-right-container,
.light-violet-theme #logo,
.light-violet-theme #timer,
.light-violet-theme .login-register-container p,
.light-violet-theme .login-register-container p a,
.light-violet-theme .menu-item a,
.light-violet-theme .word-display,
.light-violet-theme .page-title-container p {
  color: var(--text-color-main);
}
